.page-body{
  max-width: 850px;
  margin: auto;
  padding: 200px;
}


#title{
  color: #0e6b99;
  text-align: center;
  padding-bottom: 100px;
}

legend.required:before {
  content: "* ";
}

fieldset {
  border: hidden;
}

label {
  vertical-align: baseline;
}

td, th{
  width: 30%;
}

td {
  position:right;
}
